@mixin scroll-style(
    $size: 10px,
    $thumb: none,
    $thumb-color: grey,
    $thumb-radius: 10px,
    $track-color: transparent,
    $track-radius: 10px
) {
    // Respaldo para Firefox
    scrollbar-color: $thumb-color $track-color;
    scrollbar-width: thin;

    // Navegadores basados en webkit
    &::-webkit-scrollbar {
        width: $size;
        height: $size;
        &-track {
            background-color: $track-color;
            border-radius: $track-radius;
        }
        &-thumb {
            background-color: $thumb-color;
            background-image: $thumb;
            border-radius: $thumb-radius;
        }
    }
}

.date-schedule {
    height: 80%;
    margin-top: 70px;
    padding: 10px 5px 20px 5px;
    border-radius: 8px;

    display: grid;
    column-gap: 4px;
    grid-template-columns: 1fr 15px repeat(5, 1fr) 15px;
    overflow-x: scroll;

    @include scroll-style(
        $size: var(--scroll-size, 20px),
        $thumb: var(--scroll-thumb, none),
        $thumb-color: var(--scroll-thumb-color, grey),
        $thumb-radius: var(--scroll-thumb-radius, var(--scroll-radius)),
        $track-color: var(--scroll-track, transparent),
        $track-radius: var(--scroll-track-radius, var(--scroll-radius))
    );

    --scroll-size: 6px;
    --scroll-radius: 10px;
    --scroll-track: rgb(255 255 255 / 10%);
    --scroll-thumb-color: rgb(0 0 0 / 80%);

    .hour-div {
        background-image: radial-gradient(circle, rgba(0, 0, 0, 0.24) 90%, transparent 100%);
        border-radius: 7px;
        // z-index: 10;
    }

    .class {
        color: white;
        border-radius: 9px;
        width: 85%;

        display: flex;
        align-items: center;
        justify-content: center;
        justify-self: center;

        &:hover {
            cursor: pointer;
        }
    }
}
