.classes-page {
    grid-template-rows: 100px auto;

    .periods {
        grid-column: 2 / 12;
        grid-row: 2;
        padding-bottom: 50px !important;
    }

    h1 {
        grid-column: 2 / 12;
        align-self: center;
    }
}
