.progress-page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

    h1 {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        align-self: center;
    }
    .portfolio {
        grid-column: 2 / 12;
        grid-row: 2 / 12;
        padding: 45px 35px !important;

        h1 {
            grid-column: 2 / 12;
            grid-row: 1 / 2;
            align-self: flex-end;
        }
        .main-frame {
            padding: 20px 50px 20px 100px;
            display: flex;
            width: 100%;
            max-height: fit-content;
            align-items: center;
            justify-content: start;
            text-align: start;
            font-size: 20px;

            > img {
                width: 300px;
                height: 300px;
                border-radius: 15px;
                margin-right: 55px;
                box-shadow: -10px 12px 20px rgba(0, 0, 0, 0.13);
                object-fit: cover;
            }

            .check-bt {
                height: 30px;
                color: white;
                background-color: rgb(209, 49, 49);
                display: flex;
                align-items: center;
                padding: 13px;
                padding-right: 18px;
                border-radius: 10px;
                transition: background-color 0.2s ease-out, padding 0.1s ease-out;
                margin-bottom: 20px;

                :first-child {
                    margin-right: 10px;
                    transition: margin 0.1s ease-out;
                }
                :nth-child(2) {
                    font-size: 12px;
                    font-weight: lighter;
                }

                &:hover {
                    cursor: pointer;
                    background-color: rgb(177, 42, 42);
                    padding-right: 13px;

                    :first-child {
                        margin-right: 15px;
                    }
                }
            }
            a {
                text-decoration: none;
                align-self: flex-start;
            }

            .infos {
                display: flex;
                flex-flow: column;
                justify-content: start;
                align-self: center;
                margin-bottom: 25px;
            }

            .stacks {
                display: flex;
                flex-flow: row;
                flex-wrap: wrap;
            }
        }
    }

    .stacks {
        grid-column: 11/-1;
        grid-row: 1/-1;
    }
}

@media (max-width: 1000px) {
    .progress-page .portfolio {
        grid-column: 1 / -1;
        .main-frame {
            padding: 20px 20px 20px 40px;
        }
    }
}

@media (max-width: 800px) {
    .progress-page .portfolio {
        padding-top: 0px !important;
        .main-frame {
            flex-flow: column;
            padding: 0px 20px;

            > img {
                margin: 0;
                width: 250px;
                height: 250px;
            }
            .infos {
                margin: 0;
            }
        }
    }
}

@media (max-width: 500px) {
    .progress-page .portfolio .main-frame {
        font-size: 17px;
        > img {
            width: 180px;
            height: 180px;
        }
    }
}
